@media (max-width: 600px) {
  .container {
    display: grid;
    /* /* width:100vw; */
    /* height: 100vh */
    /* margin:auto; */
    /* grid-template-columns: 20vw 30vw 30vw; */
    grid-template-areas:
      " hd "
      " main "
      " ft ";
  }
  .Card {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
        align-items: center; */
    /* margin:100px ; */
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    background-color: #efefef;
    border-radius: 10px;
  }
  .imagecontainer {
    position: relative;
    width: 100%;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 50vh;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .footercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #formcontainer {
    /* margin: 15px; */
    display: grid;
    border-radius: 4px;

    color: black;
    background-color: white;
    width: 100%;
  }
  #Follow {
    font-size: 0.8em;
  }
  #Design {
    display: flex;
    justify-content: center;
    color: white;
  }
  #foot {
    height: 100%;
    grid-area: ft;
    width: 100%;
    background-color: #080a3c;
  }
  .asw {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    width: 60%;
  }
  #sideBar {
    grid-area: sd;
    background-color: #ededed;
    width: 100%;
  }
  .footer {
    font-size: 0.6em;
  }
  .about {
    margin: 20px;
    font-size: 0.6em;
  }
  .aboutinfo {
    font-weight: bold;
    font-size: 0.8em;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-areas:
      " hd "
      " main "
      " ft ";
  }
  .Card {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
        align-items: center; */
    /* margin:100px ; */
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    background-color: #efefef;
    border-radius: 10px;
  }
  .imagecontainer {
    position: relative;
    width: 100%;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 50vh;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .footercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #formcontainer {
    /* margin: 15px; */
    display: grid;
    border-radius: 4px;

    color: black;
    background-color: white;
    width: 100%;
  }
  #Follow {
    font-size: 1.8em;
  }
  #Design {
    display: flex;
    justify-content: center;
    color: white;
  }
  #foot {
    height: 100%;
    grid-area: ft;
    width: 100%;
    background-color: #080a3c;
  }
  .asw {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    width: 60%;
  }

  #sideBar {
    grid-area: sd;
    background-color: #ededed;
    width: 100%;
  }
  .footer {
    font-size: 0.7em;
  }
  .about {
    margin: 20px;
    font-size: 0.8em;
  }
  .aboutinfo {
    font-weight: bold;
    font-size: 1.5em;
  }
}

@media (min-width: 901px) {
  .container {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-areas:
      " hd "
      " main "
      " ft ";
  }
  .Card {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
        align-items: center; */
    /* margin:100px ; */
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    background-color: #efefef;
    border-radius: 10px;
  }
  .imagecontainer {
    position: relative;
    width: 100%;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 50vh;
    transition: 0.5s ease;
    backface-visibility: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .footercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #formcontainer {
    /* margin: 15px; */
    display: grid;
    border-radius: 4px;

    color: black;
    background-color: white;
    width: 100%;
  }
  #Follow {
    font-size: 1.8em;
  }
  #Design {
    display: flex;
    justify-content: center;
    color: white;
  }
  #foot {
    height: 100%;
    grid-area: ft;
    width: 100%;
    background-color: #080a3c;
  }
  .asw {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
  }
  #sideBar {
    grid-area: sd;
    background-color: #ededed;
    width: 100%;
  }
  .footer {
    font-size: 1em;
  }
  .about {
    margin: 20px;
    font-size: 0.9em;
  }
  .aboutinfo {
    font-weight: bold;
    font-size: 2em;
  }
}
